.DS_Store
node_modules
public
static/pictures
.tmp
.idea
.log
dist
docs
npm-debug.log
.nyc_output
coverage
cassette
*.gz
/static.sav
/tmp
/dump
/dump_db
/dump_files
/dev_backup
/custom-size-image
package-lock.json
